<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.kotlindotnettestapp.dotnet"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:extractNativeLibs="true">
        <provider
            android:name="mono.MonoRuntimeProvider"
            android:authorities="${applicationId}.mono.MonoRuntimeProvider.__mono_init__"
            android:exported="false"
            android:initOrder="2147483647" />
    </application>

</manifest>
